/*grey #DBDDE6
dark purple #5A1297
medium purple #A3459A
light purple #C695C9*/


body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

div {
  flex-grow: 1;
  width: 100%;
}

.logo {
  background-color: #A3459A;
  text-transform: uppercase;
  margin: 0;
  padding: 100px auto;
}

.logo-image img {
  height: 60px;
}

.logo-image {
  background-image: url("./images/asya-vee-203720.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}

.logo-image {
  max-height: 60px;
}

.contact {
  background-color: white;
  color: #5A1297;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.map {

}

.bio {
  background-color: #A3459A;
  font-size: 20px;
}

.bikes {
  color: white;
background-image: url("./images/milada-vigerova-16700.jpg");

  /*Place holder styles*/
  height: 100px;
  width: 100%;
  background: black;
}

.footer{
  background-color: #A3459A;
}



/* Tablet */
@media (min-width: 480px) {
  /*.contact {
    flex-basis: 60%;
  }
  .bio {
    flex-basis: 40%;
  }*/
}

/* Desktop */
@media (min-width: 965px) {

}
